.App {
  text-align: center;
  background-color: honeydew;
  height: 100vh;
}

h1 {
  background-color: cornflowerblue;
  color: white;
  margin: 10px;
  border-radius: 10px;
}

.row{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  overflow: hidden;
  border:2px solid black;
  padding: 15px;
  background-color: honeydew;
  margin: 20px;
  font-size: 25px;
  border-radius: 25px;
}

img{
  height: 150px;
}

h2{
  display: flex;
  color:seagreen;
  padding: 10px;
}

input{
  height: 30px;
  width: 30px;
}

text{
  font-weight: bold;
  width: 30%;
}

.checkbox-container{
  width: 10%;
}

.bottom .row{
   background-color: seagreen;
  /*font-style: italic; */
  color: white;
}